.cell {
  padding: 2px 4px;
  box-sizing: border-box;
  background: #c0c0c0;
  border: 2px outset #ececec;
  width: 30px;
  height: 30px;
}

.covered {
  background: #C0C0C0;
}

.uncovered {
  border: solid #808080;
  border-width: 0 1px 1px 0;
}

.hasBomb {}
