body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #CCC;
}

.game {

}

.row {
  width: 100%;
  float: left;
}

.row .cell {
  float: left;
}

table tr td {
  width: 15px;
  height: 15px;
  cursor: pointer
}
