body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;
  padding: 1px;
  box-sizing: border-box;
  background: teal url(https://assets.codepen.io/15664/bliss.jpg) center/cover no-repeat;
  counter-reset: mines 10;
}



.row {
  width: 100%;
  float: left;
}

.row .cell {
  float: left;
}

table {
  border-collapse: collapse;
}

table tr td {
  cursor: pointer;
  text-align: center;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}
